# VS Code
.vscode/

# Executables
*.exe

# Object files
*.o
*.obj

# Build folders
build/
cmake-build-*/

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
compile_commands.json

# Windows
*.pdb